
<div class="d-flex justify-content-center">
  <nav class="navbar navbar-light bg-light d-flex justify-content-center" style="margin-top: 3.8rem;">
    <form class="form-inline" (ngSubmit)="search()">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" [(ngModel)]="searchTerm">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </nav>
</div>


<div *ngIf="message" class="alert alert-success">{{ message }}</div>

<!-- Table -->
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Id</th>
      <th>Full Name</th>
      <th>Gender</th>
      <th>Occupation</th>
      <th>Birthday</th>
      <th>Email</th>
      <th>WebSite</th>
      <th>Ad-Sub.</th>
      <th>Address</th>
      <th>City</th>
      <th>Phone-Numbers</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
    <!-- Table Row -->
    <tr *ngFor="let customer of customers">
      <td>{{ customer.id }}</td>
      <td>{{ customer.fullName }}</td>
      <td>{{ customer.gender }}</td>
      <td>{{ customer.occupation }}</td>
      <td>{{ customer.birthDate }}</td>
      <td>{{ customer.email }}</td>
      <td>{{ customer.website }}</td>
      <td>{{ customer.subscribeToAds }}</td>
      <td>{{ customer.address }}</td>
      <td>{{ customer.city }}</td>
      <td>{{ customer.phoneNumbers }}</td>
      <td>{{ customer.notes }}</td>
      <td class="d-flex justify-content-center" style="gap: 0.2rem;">
        <!-- Edit Button -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editModal" (click)="openEditCustomerModal(customer)">Edit</button>
        <!-- Edit Button -->
        <button type="button" class="btn btn-danger" >Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Edit Modal -->
<div id="editModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Customer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Edit Form -->
        <form [formGroup]="form">
          <div class="form-group">
            <label for="fullName">Full Name :</label>
            <input type="text" class="form-control" id="fullName" formControlName="fullName">
          </div>
          <div class="form-group">
            <label for="gender">Gender :</label>
            <input type="text" class="form-control" id="gender" formControlName="gender">
          </div>
          <div class="form-group">
            <label for="occupation">Occupation :</label>
            <input type="text" class="form-control" id="occupation" formControlName="occupation">
          </div>
          <div class="form-group">
            <label for="birthDate">Birth Date :</label>
            <input type="date" class="form-control" id="birthDate" formControlName="birthDate">
          </div>
          <div class="form-group">
            <label for="email">Email :</label>
            <input type="email" class="form-control" id="email" formControlName="email">
          </div>
          <div class="form-group">
            <label for="website">Website :</label>
            <input type="text" class="form-control" id="website" formControlName="website">
          </div>
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="subscribeToAds" formControlName="subscribeToAds">
              <label class="form-check-label" for="subscribeToAds">Subscribe to Ads</label>
            </div>
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <textarea class="form-control" id="address" formControlName="address" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="city">City :</label>
            <input type="text" class="form-control" id="city" formControlName="city">
          </div>

          <!-- Display existing phone numbers -->
      <div *ngIf="phoneNumbers.length > 0" class="form-group">
        <label>Phone Numbers:</label>
        <div formArrayName="phoneNumbers">
          <div *ngFor="let phone of phoneNumbers; let i = index" [formGroupName]="i" class="input-group">
            <input type="text" class="form-control" formControlName="number">
            <div class="input-group-append">
              <button class="btn btn-primary" (click)="updatePhoneNumber(phone)">Update</button>
              <button class="btn btn-danger" (click)="deletePhoneNumber(phone.id)">Delete</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Add phone number form -->
      <div class="form-group">
        <label><u>New Phone Number</u></label>
        <div class="input-group">
          <input type="text" [(ngModel)]="newPhoneNumber" formControlName="newPhoneNumber" class="form-control" name="phoneNumber" placeholder="Enter phone number">

          <div class="input-group-append">
            <button class="btn btn-success" (click)="addPhoneNumber()">Add</button>
          </div>
        </div>
      </div>


          <div class="form-group">
            <label for="notes">Notes :</label>
            <textarea class="form-control" id="notes" formControlName="notes"></textarea>
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="updateCustomer()">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
